body {
  background-color: ghostwhite;
}

.border-radius {
  border: blue groove 5px;
  width: 50px;
  height:50px;
  border-radius: 100%;
}

.border-img {
  height: 240px;
  width: 240px;
  position: relative;
  border-image: url(images/abstract.jpeg);
  background-clip: padding-box;
  padding: 50px;
  left: 25%;
}

.wrap {
  width: 90px;
  height: 90px;
  overflow-wrap: break-word;
  background: green;
  color: orange;
}

.gradient {
  width: 150px;
  height: 150px;
  background-color: red;
  background: repeating-radial-gradient(rgba(255,255,255,255), red 50%);
  background: -webkit-repeating-radial-gradient(rgba(255,255,255,255), red 50%);
  background: -moz-repeating-radial-gradient(rgba(255,255,255,255), red 50%);
  background: -o-repeating-radial-gradient(rgba(255,255,255,255), red 50%);
  border-width: 20px;
  border-style: solid;
  border-image: linear-gradient(45% deg, grey,black,red);
  border-image: linear-gradient(grey,black,red);
  border-image: linear-gradient(grey,black,red);
  border-image: linear-gradient(grey,black,red);
  border-image-slice: 1;
}

.tryme span:nth-of-type(even){
    color:green;
}
.tryme span:nth-of-type(odd){
    color:red;
}
.icup {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;

  /* Standar Syntax */
  animation: rainbow 1s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}

.babygotback {
  background-color: red;
}
