body {
  background-color: ghostwhite;
}

.border-radius {
  border: blue groove 5px;
  width: 50px;
  height:50px;
  border-radius: 100%;
}

.border-img {
  height: 240px;
  width: 240px;
  position: relative;
  border-image: url(images/abstract.jpeg);
  background-clip: padding-box;
  padding: 50px;
  left: 25%;
}

.wrap {
  width: 90px;
  height: 90px;
  overflow-wrap: break-word;
  background: green;
  color: orange;
}

.gradient {
  width: 150px;
  height: 150px;
  background-color: red;
  background: repeating-radial-gradient(rgba(255,255,255,255), red 50%);
  background: -webkit-repeating-radial-gradient(rgba(255,255,255,255), red 50%);
  background: -moz-repeating-radial-gradient(rgba(255,255,255,255), red 50%);
  background: -o-repeating-radial-gradient(rgba(255,255,255,255), red 50%);
  border-width: 20px;
  border-style: solid;
  border-image: linear-gradient(45% deg, grey,black,red);
  border-image: linear-gradient(grey,black,red);
  border-image: linear-gradient(grey,black,red);
  border-image: linear-gradient(grey,black,red);
  border-image-slice: 1;
}

.block {
  height: 300px;
  width: 150px;
  border: 1px solid black;
  overflow-y: scroll;
}
.transition {
  height: 200px;
  width: 500px;
  background: linear-gradient(to right, red, white, blue);
  transition: height 3s, width 3s, transform 2s;
}

.transition:hover {
  height: 100px;
  width: 100px;
  transform: rotate(180deg);
}
.tryme span:nth-of-type(even){
    color:orange;
}
.tryme span:nth-of-type(odd){
    color:red;
}

.example1 {
  width: 200px;
  height: 200px;
  background-size: 100%;
  background-repeat:no-repeat;
  background-image: url('images/w3schools.png'), linear-gradient(to right, blue 0%,white 100%);
  background-image: url('images/w3schools.png'), -webkit-linear-gradient(to right, blue 0%,white 100%);
  background-image: url('images/w3schools.png'), -moz-linear-gradient(to right, blue 0%,white 100%);
  background-blend-mode: darken;
  background-image: url('images/w3schools.png'), -o-linear-gradient(to right, blue 0%,white 100%);
}

.img-o{
  height: 200px;
  width: 200px;
  opacity: 1;
}
.img-o-half{
  height: 200px;
  width: 200px;
  opacity: .50;
}
.img-o-quart{
  height: 200px;
  width: 200px;
  opacity: .25;
}

.icup {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;

  /* Standar Syntax */
  animation: rainbow 1s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}

.babygotback {
  background-color: red;
}

.border-img:hover {
  padding: 150px;
}

.align1 {
  text-align: left;
}

.align2 {
  text-align: right;
}

.column {
  font-size: 27px;
  column-count: 2;
  column-gap: 40px;
  column-rule: 8px dotted green;
}

.boxshadow {
  width:200px;
  height: 200px;
  background-color: purple;
  box-shadow: 20px 20px 50px 20px black;
  float:right;
}

.resizeable {
  width: 200px;
  height: 200px;
  background-color: red;
  overflow: auto;
  resize: both;
}

.stroke {
  font-size: 20px;
  -webkit-text-stroke: 2px;
}

.text-decoration {
  text-decoration-style: double;
  text-decoration: underline;
}

.liststyle {
  list-style: georgian;
  text-indent: 50px;
}

#ani {
  height: 150px;
  width: 150px;
  background-color: red;
  position: relative;
  animation-name: ani;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  color: white;
}

@keyframes ani {
  0%  {background-color: black; left:0px;}
  50%  {background-color: red; left:100%;}
  100%  {background-color: black; left:0px;}
}

.hello {
  width: 500px;
  height: 100px;
  background-color: yellow;
  border: 2px solid green;
  -ms-transform: skew(20deg, 10deg);
  -webkit-transform: skew(20deg, 10deg);
  transform: skew(20deg, 10deg);
}

.why {
  width: 150px;
  height: 150px;
  background: purple;
  position: relative;
  -webkit-animation-name: helo;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function: linear;
  animation-iteration-count: -webkit-infinite;
  animation-delay: 3s;
}

@-webkit-keyframes helo {
  from {left: 0px;}
  to {left: 1000px;}
}
